h1 {
  padding-bottom: 0.2em;
}

#moz-reader-content {
  display: block;
}

#reader-header {
  display: block;
}

#reader-toolbar {
  border-radius: 0;
}

#reader-toolbar li:first-child {
  margin: 0;
  padding: 0;
}

#reader-toolbar li button {
  border-right: none;
}
