---
# main sass file requires front matter (dashes are enough)
---
@charset "utf-8";

// variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// mixins
@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// import partials from sass_dir (defaults to _sass)
@import
  "base",
  "syntax-highlighting",
  "category-filter"
;

#isso-thread {
  .form-wrapper .textarea-wrapper .placeholder {
    color: inherit;
  }

  h4 {
    color: inherit;
  }

  a.delete, a.edit {
    font-weight: normal;
    text-decoration: underline;
  }

  .outlined-inputs {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: 1px solid #B5B5B5;
  }

  .isso-postbox > .form-wrapper .textarea {
    @extend .outlined-inputs;
  }

  .input-wrapper, .post-action {
    padding: 0 0.2em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    input {
      @extend .outlined-inputs;
      color: inherit;
    }

    .post-action input {
      background-color: #FBFBFB;
      color: #737373;
    }
  }
}
