---
layout: default
---

<div id="reader-header" class="header">

  <div id="intro" style="padding:4em 0; margin:1.5em 0 2.5em 0; border-bottom:#b5b5b5 1px solid;">
    <img src="{{ site.url }}/img/logo.svg" alt="logo" style="width:60px; float:left; margin:0.15em 2em 0 0;" />
    Welcome to my blog -- a collection of posts covering my research into code, interaction, and creativity.
  </div>

  <h1 id="reader-title">Posts</h1>
  <div id="reader-credits" class="credits"></div>

  <p id="categories">

    <strong>filter:</strong>

    {% assign sorted_categories = site.categories | sort %}

    <span>
    {% assign most_recent_year = site.posts[0].date | date:'%Y' %}

    <a class="disabled">{{ most_recent_year }}</a>

    {% for post in site.posts %}
      {% assign year = post.date | date:'%Y' %}
      {% if year != most_recent_year %}
        <a class="disabled">{{ year }}</a>
        {% assign most_recent_year = year %}
      {% endif %}
    {% endfor %}

    {% for category in sorted_categories %}
      <a class="disabled">{{ category | first }}</a>
    {% endfor %}
    </span>

  </p>

  <p></p>

</div>

{% for post in site.posts %}

  {% assign sorted_categories = post.categories | sort %}

  <p data-category="{{ sorted_categories | join:' ' }} {{ post.date | date:'%Y' }}" class="post">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    <br />
    <em class="post-meta">
      {{ post.date | date:'%Y-%m-%d' }}
      |
      <span class="tag-{{ post.date | date:'%Y' }}">{{ post.date | date:'%Y' }}</span>
      {% for tag in sorted_categories %}
        <span class="tag-{{ tag }}">{{ tag }}</span>
      {% endfor %}
    </em>
  </p>

{% endfor %}

<p></p>
<hr/>
<p></p>

<p class="rss-subscribe post-meta">
  subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  |
  <a href="http://portfolio.tabreturn.com">my work</a>
</p>

<script src="{{ "/js/categoryFilter.js" | prepend: site.baseurl }}"></script>
<script>
  var hash = location.hash.slice(1)

  if (hash) {
    categoryFilter([hash]);
    document.getElementById('intro').innerHTML = '';
    document.getElementById('intro').style.paddingTop = 0;
    document.getElementById('reader-title').style.display = 'none';
  }
  else {
    categoryFilter(['2020', '2019', '2018', '2017', '2016', '2015']);
  }
</script>
