---
layout: default
---

<div id="reader-header" class="header">

  <div id="intro">
    <style>
      #intro img {
        width: 60px;
        float: left;
        margin: 0.15em 2em 0 0;
      }
      .dark #intro img {
        border: solid white;
        border-radius: 3px;
        border-width: 4px 4px 2px 3px;
        margin-top: -0.1em;
      }
    </style>
    <img src="{{ site.url }}/img/logo.svg" alt="logo" />
    Welcome to my blog &ndash; a collection of posts covering a blend of technology, design, code, and creativity.
  </div>

  <p style="text-align:right">
    <em id="reverse-filter"><a>&#8644; reverse order</a></em>
  </p>

  <p id="categories">

    <strong>filter posts:</strong>

    {% assign sorted_categories = site.categories | sort %}

    <span>
    {% assign most_recent_year = site.posts[0].date | date:'%Y' %}

    <a class="disabled">{{ most_recent_year }}</a>

    {% for post in site.posts %}
      {% assign year = post.date | date:'%Y' %}
      {% if year != most_recent_year %}
        <a class="disabled">{{ year }}</a>
        {% assign most_recent_year = year %}
      {% endif %}
    {% endfor %}

    {% for category in sorted_categories %}
      <a class="disabled">{{ category | first }}</a>
    {% endfor %}
    </span>
  </p>

  <p></p>

</div>

<div id="post-list">

  {% for post in site.posts %}

    {% assign sorted_categories = post.categories | sort %}

    <p data-category="{{ sorted_categories | join:' ' }} {{ post.date | date:'%Y' }}" class="post">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <br />
      <em class="post-meta">
        {{ post.date | date:'%Y-%m-%d' }}
        |
        <span class="tag-{{ post.date | date:'%Y' }}">{{ post.date | date:'%Y' }}</span>
        {% for tag in sorted_categories %}
          <span class="tag-{{ tag }}">{{ tag }}</span>
        {% endfor %}
      </em>
    </p>

  {% endfor %}

</div>

<script src="{{ "/js/categoryFilter.js" | prepend: site.baseurl }}"></script>
<script>
  if (location.hash) {
    var hash = location.hash.slice(1);
    hash = hash.split('-');

  }

  if (hash) {
    categoryFilter(hash);
    document.getElementById('intro').innerHTML = '';
    document.getElementById('intro').style.paddingTop = 0;
    document.getElementById('reader-title').style.display = 'none';
  }
  else {
    categoryFilter(['2020', '2019', '2018', '2017', '2016', '2015']);
  }
</script>
