body {
  padding-left: 51px;
}

a, button {
  cursor: pointer;
}

h1 {
  padding-bottom: 0.2em;
}

#moz-reader-content {
  display: block;
}

pre, code {
  background-color: transparent;
  border: none;
  font-size: 0.9em;
  margin-bottom: 0;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

figure.highlight {
  padding-bottom: 0;
}

.highlight, .highlight * {
  background-color: transparent;
}

#reader-header {
  display: block;
}

#reader-popup {
   top: 48px;
}

#reader-toolbar {
  border-radius: 0;
}

#reader-toolbar li:first-child {
  margin: 0;
  padding: 0;
}

#reader-toolbar li button {
  border-right: none;
}

#close-button {
  background-image: url("RM-Close-24x24.svg");
  background-position: top;
  background-size: 26px 138px;
  background-repeat: no-repeat;
  height: 70px;
}

#close-button:hover, #close-button:active {
  background-image: url("RM-Close-24x24.svg");
  background-position: bottom;
}
