<head>

  <title>
    {% if page.title %}
      {{ page.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>

  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/aboutReader/aboutReader.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/aboutReader/aboutReaderControls.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/aboutReader/aboutReaderContent.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/aboutReader/aboutReaderOverrides.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">

  {% if page.mathml %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
  {% endif %}

</head>
