<script src="{{ "/js/typeControls.js" | prepend: site.baseurl }}"></script>
<script>
  typeControls();
</script>

{% if site.matomo_trackerurl %}
<script>
  var _paq = _paq || [];
  _paq.push(['setDomains', ['{{ site.matomo_trackerurl }}']]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u='{{ site.matomo_sourceurl }}';
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{{ site.matomo_siteid }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
{% endif %}

{% if site.isso_dataurl and page.comments %}
<script data-isso="{{ site.isso_dataurl }}" src="{{ site.isso_sourcecurl }}"></script>
{% endif %}
