<script src="{{ "/js/typeControls.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.tabreturn.github.io"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://www.secure.tabreturn.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

<script data-isso="https://secure.tabreturn.com/" src="https://secure.tabreturn.com/js/embed.min.js"></script>
