<script src="{{ "/js/typeControls.js" | prepend: site.baseurl }}"></script>
<script>
  typeControls();
</script>

{% if site.matomo_trackerurl %}
<script>
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ site.matomo_sourceurl }}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
{% endif %}

{% if site.isso_dataurl and page.comments %}
<script data-isso="{{ site.isso_dataurl }}" src="{{ site.isso_sourcecurl }}" data-isso-vote="{{ site.isso_vote }}"></script>
{% endif %}

<script>

  // external links open in new tab
  var links = document.links;
  for (var i=0, linksLength=links.length; i<linksLength; i++) {
    if (links[i].hostname != window.location.hostname) {
      links[i].target = '_blank';
    }
  }

  // jump to anchor after page has fully loaded (so that images do not shift things)
  window.onload = function() {
    if (window.location.hash) {
      document.location.hash = window.location.hash;
    }
    document.documentElement.style.scrollBehavior = 'smooth';
  }

</script>

<script>

  // for loading and playing a gif after clicking its poster image
  // how to use:
  /*
  <figure>
    <img src="<initial_poster>" style="cursor:pointer"
         onclick="playGif(event, '<replay_poster>', '<animated_gif>')" />
    ...
  </figure>
  */

  function playGif(e, replay_poster, animated_gif) {
    let gif_img = new Image();

    if (e.target.src == replay_poster) {
      e.target.style.opacity = 0.2;
      let gif_loading = document.createElement('div');
      gif_loading.className = 'loading-message';
      gif_loading.innerHTML = 'loading ...';
      gif_loading.style.backgroundColor = window.getComputedStyle(document.body, null).getPropertyValue('background-color');
      gif_loading.style.color = e.target.parentElement.style.color;
      gif_loading.style.display = 'inline-block';
      gif_loading.style.padding = '0.8em';
      gif_loading.style.paddingTop = '0.4em';
      gif_loading.style.position = 'absolute';
      gif_loading.style.zIndex = 10;
      e.target.parentElement.prepend(gif_loading);
      gif_img.onload = () => {
        e.target.style.opacity = 1;
        e.target.src = animated_gif;
        e.target.parentElement.querySelector('.loading-message').remove();
      }
      gif_img.src = animated_gif;
    }
    else {
      e.target.src = replay_poster;
    }
  }

</script>
