<ul id="style-dropdown" class="dropdown">

  <li>
    <button class="dropdown-toggle button style-button" title="Type Controls"></button>
  </li>

  <li id="reader-popup" class="dropdown-popup">

    <div id="font-type-buttons">
      <button class="sans-serif-button">
        <div class="name">Aa</div>
        <div class="description">Sans-serif</div>
      </button>
      <button class="serif-button selected">
        <div class="name">Aa</div>
        <div class="description">Serif</div>
      </button>
    </div>

    <hr/>

    <div id="font-size-buttons">
      <button id="font-size-minus" class="minus-button"></button>
      <button id="font-size-sample">Aa</button>
      <button id="font-size-plus" class="plus-button"></button>
    </div>

    <hr/>

    <div id="content-width-buttons">
      <button id="content-width-minus" class="content-width-minus-button"></button>
      <button id="content-width-plus" class="content-width-plus-button"></button>
    </div>

    <hr/>

    <div id="line-height-buttons">
      <button id="line-height-minus" class="line-height-minus-button"></button>
      <button id="line-height-plus" class="line-height-plus-button"></button>
    </div>

    <hr/>

    <div id="color-scheme-buttons">
      <button class="light-button selected">
        <div class="name">Light</div>
      </button>
      <button class="dark-button">
        <div class="name">Dark</div>
      </button>
      <button class="sepia-button">
        <div class="name">Sepia</div>
      </button>
    </div>

    <div class="dropdown-arrow"></div>

  </li>

</ul>
