#isso-thread {

  * {
    font-family: inherit;
    font-size: 0.96rem;
  }

  .form-wrapper .textarea-wrapper .placeholder {
    color: inherit;
  }

  h4 {
    opacity: 1;
  }

  a.edit, a.delete, a.reply {
    text-decoration: underline;
    text-shadow: none;
    font-weight: normal;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .outlined-inputs {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: 1px solid #B5B5B5;
  }

  #isso-root .isso-comment {
    border-top: 1px solid #B5B5B5;

    &:first-child {
      border: none;
    }
  }

  .isso-postbox > .form-wrapper .textarea {
    @extend .outlined-inputs;
  }

  .input-wrapper, .post-action {
    padding: 0 0.2rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    input {
      @extend .outlined-inputs;
      color: inherit;

      &[type="button"], &[type="submit"] {
        outline: 0;
        text-decoration: underline;
      }
    }
  }

  .textarea-wrapper {
    margin-bottom: 0.85rem;
  }
}

@media screen and (max-width: 600px) {

  #isso-thread .input-wrapper, .post-action {
    padding: 0;
  }
}
