<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="light serif loaded">

    <div id="container" class="container font-size4 content-width4">

      {% include header.html %}

      <div class="content">
        <div id="moz-reader-content" class="line-height4">
          {{ content }}
        </div>
      </div>

      {% if page.footer != 'none' %}
        {% include footer.html %}
      {% endif %}

    </div>

    {% include toolbar.html %}
    {% include js.html %}

  </body>

</html>
